/* start variables */
:root {
    --main-color: #0B9586;
    --secondary-color: #3CAB90;
    --special-color: #FFBB1C;
    --item-background:#0000000F;
    --cards-background: #3CAB900F;
    --card-image-color:#3CAB9026;
    --section-background: #FFBB1C0D;
    --text-color:#475467;
    --footer-background:#283646;;
}
/* end variables */
/* start global rules */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: "Inter", sans-serif;
}
.container {
    padding: 0 15px;
    margin: 0 auto;
}
/* small */
@media (min-width: 520px) {
    .container {
        width: 515px;
    }
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* medium */
@media (min-width: 992px) {
    .container {
        width: 920px;
    }
}
/* large */
@media (min-width: 1200px) {
    .container {
        width: 1135px;
    }
}
/* end global rules */
/* start header */
header{
    background-color: var(--main-color);
    position: relative;
    padding: 16px 0;
}
header .main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .main-header img{
    height: 54px;
    width: 157px;
    mix-blend-mode: multiply;
}
header .main-header ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    display: none;
}
header .main-header ul li{
    list-style-type: none;
    text-decoration: none;
    padding: 8px 28px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 5px;
}
header .main-header ul li a{
    text-decoration: none;
    color: white;
}
.active{
    background-color: var(--item-background);
    border-bottom: 3px solid #0000004D;
    font-weight: 600 !important;
}
header .main-header ul li:hover{
    cursor: pointer;
    background-color: var(--item-background);
    border-bottom: 3px solid #0000004D;
}
header .main-header .phone span{
    color: white;
    display: block;
}
header .main-header .phone span:first-of-type{
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    letter-spacing: 0.93px;
    text-align: right;
}
header .main-header .phone span:last-of-type{
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.93px;
    text-align: left;
}
header .main-header .toggle{
    position: relative;
    height: 54px;
    width: 54px;
    border: 5px solid rgba(255, 255, 255, 0.799);
    border-radius: 10px;
    padding: 0px 5px ;
    margin: 0px 20px;
}
header .main-header .toggle span{
    width: 100%;
    height: 2px;
    background-color: white;
    display: block;
    text-align: center;
    margin: 10px 0;
    border-radius: 5px;
}
header .main-header .toggle:hover ul{
    display: block;
    position: absolute;
    top: calc(100% + 9px);
    right: -10%;
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 10px;
    width: 170px;
}
header .main-header .toggle:hover ul::after{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--secondary-color) transparent;
    position: absolute;
    right: 20px;
    top: -20px;
}
@media (min-width: 1200px) {
    .toggle {
        display: none;
    }
    header .main-header .navbar {
        display: flex;
    }
    header .main-header .phone {
        padding: 0 50px;
    }
}
@media (max-width: 520px) {
    header .main-header .phone span:last-of-type{
        font-size:18px ;
    }
    header .main-header img {
        height: 45px;
        width: 90px;
    }
}
@media (max-width: 400px) {
    header .main-header .toggle {
        height: 50px;
        width: 50px;
    }
    header .main-header .toggle span {
        margin: 9px 0;
    }
    header .main-header img {
        height: 40px;
        width: 70px;
    }
    header .main-header .phone span:last-of-type {
        font-size: 16px;
    }
}
@media (max-width: 360px){
    header .main-header .toggle {
        height: 47px;
        width: 47px;
    }
    header .main-header .toggle span {
        margin: 8px 0;
    }
    header .main-header img {
        height: 40px;
        width: 60px;
    }
    header .main-header .phone span:last-of-type {
        font-size: 14px;
    }
}
/* end header */
/* start landing */
.landing{
    background-image: url(images/header.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    padding: 70px 0 90px;
}
.landing .container .prog{
    margin-bottom: 90px;
    display: flex;
    align-items: center;
    color: white;
}
.landing .container .prog progress{
    width: 220px;
    height: 4px;
    border: none;
    background-color: #575757;
    overflow: hidden;
    text-align: center;
    display: block;
}
.landing .container .prog progress::-webkit-progress-bar {
    background-color:#575757;
}
.landing .container .prog progress::-webkit-progress-value {
    background-color:white;
}
.landing .container .prog span:first-child{
    padding-right:30px;
}
.landing .container .prog span:last-child{
    padding-left:30px;
}
.landing .container .landing-content{
    display: flex;
    flex-direction: column;
    max-width: 729px;
}
.landing .container .landing-content p:first-of-type{
    font-size: 52px;
    font-weight: 600;
    line-height: 63px;
    color: white;
    margin-bottom: 40px;
}
.landing .container .landing-content p:last-of-type{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: white;
    letter-spacing: 1px;
    margin-bottom: 40px;
}
.landing .container .landing-content button{
    padding: 12px 34px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    letter-spacing: 0.08em;
    border-radius: 108px;
    border: none;
}
.landing .container .landing-content button:first-of-type{
    color: white;
    background-color: var(--secondary-color);
    margin-right: 25px;
}
.landing .container .landing-content button:last-of-type{
    background-color: var(--special-color);
}
.landing .container .landing-content button:hover{
    cursor: pointer;
}
@media (max-width:416px) {
    .landing .container .landing-content button:first-of-type {
        margin-bottom: 15px;
    }
}
@media (max-width:430px) {
    .landing .container .landing-content button:first-of-type {
        margin-right: 10px;
    }
}
@media (max-width: 320px) {
    .landing {
        background-size: cover;
        background-position: center;
        padding: 50px 0 70px;
    }
}
/* end landing */
/* start friendliest */
.friend-cont{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 60px 0;
    gap: 20px;
    flex-wrap: wrap;
}
.friend-cont .friend-text{
    max-width: 594px;
}
.friend-cont div:first-of-type .friend-title{
    font-size: 42px;
    font-weight: 600;
    line-height: 50.83px;
    letter-spacing: -0.02em;
    margin-bottom: 30px;
}
.friend-cont div:first-of-type .friend-p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 50px;
    color: var(--text-color);
}
.friend-cont div:first-of-type ol{
    list-style-type: none;
    counter-reset: list-counter;
}
.friend-cont div:first-of-type ol li{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin: 0 0 10px 51px;
    counter-increment: list-counter;
    position: relative;
}
.friend-cont div:first-of-type ol li:nth-child(-n+9)::before{
    content: "0" counter(list-counter) "/" ;
    position: absolute;
    right: calc(100% + 10px);
    color: #84BD3A;
    letter-spacing: 3px;
}
.friend-cont .friend-images{
    max-width: 519px;
    padding: 10px;
}
.friend-cont div:last-of-type .base-img{
    width: 469px;
    max-height: 552px;
    max-width: 100%;
    border-radius: 12px 0px 0px 0px;
    position: relative;
}
.friend-cont div:last-of-type{
    position: relative;
}
.friend-cont div:last-of-type .front-img{
    max-width: 250px;
    max-height: 550px;
    background-color: var(--special-color);
    padding: 24px 30px 24px 30px;
    border-radius: 12px;
    position: absolute;
    bottom: 4%;
    left: -4%;
}
.friend-cont div:last-of-type .front-img p{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 20px;
}
/* end friendliest */
/* start power */
.power{
    background-image: url(images/section2.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    padding: 130px 0;
}
.power-cont{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 678px;
}
.power .power-title{
    font-size: 42px;
    font-weight: 600;
    line-height: 50.83px;
    letter-spacing: -0.02em;
    margin-bottom: 40px;
    color: white;
}
.power .power-p{
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 33px;
    color: white;
}
.power-cont button{
    padding: 12px 34px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    letter-spacing: 0.08em;
    border-radius: 108px;
    border: none;
    background-color: var(--special-color);
}
/* end power */
/* start solar kits */
.solar-kits{
    padding: 70px 0;
}
.solar-kits .solar-title{
    font-size: 42px;
    font-weight: 600;
    line-height: 50.83px;
    letter-spacing: -0.02em;
    text-align: center;
    margin-bottom: 30px;
}
.solar-kits .solar-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    max-width: 930px;
    margin: 0 auto 30px;
    color: var(--text-color);
}
.solar-kits .kits{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 32px;
    margin: 0 auto;
}
.kits .kit{
    box-shadow: 0px 4px 30px 0px #0000000D;
}
.kits .kit .kit-cont{
    padding:15px;
}
.kits .kit img{
    width: 100%;
}
.kits .kit .kit-title{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin: 15px 0 20px;
}
.kits .kit .kit-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--text-color);
    max-height: 72px;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 20px;
}
.kits .kit .kit-cont a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: var(--secondary-color);
}
.kits .kit .kit-cont  span{
    display: inline-block;
    margin-left: 5px;
}
/* end solar kits */
/* start repairs */
.repairs{
    background-image: url(images/section4.png);
    background-position: top;
    background-size: cover;
    padding: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.repairs .repair-main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.repair-main .rep{
    text-align: center;
    max-width: 829px;
    background-color: #00000091;
    border-radius: 12px;
    filter: blur(24);
    color: white;
    padding: 44px 24px;
}
.rep .rep-title{
    font-size: 42px;
    font-weight: 600;
    line-height: 50.83px;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
}
.rep .rep-text{
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}
/* end repairs */
/* start innovators */
.innov{
    padding: 40px 0;
    background-color: var(--section-background);
}
.main-innov{
    display: grid;
    grid-template-columns: minmax(350px, 1fr) minmax(720px, 1fr);
    gap: 32px;
}
.main-innov .spc-card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-template-rows: fit-content;
    margin:0 auto 20px;
}
.main-innov .spc-card img{
    width: 56px;
    height: 56px;
}
.main-innov .spc-card .spc-title{
    font-size: 42px;
    font-weight: 600;
    line-height: 50.83px;
    letter-spacing: -0.02em;
    margin: 10px 0 15px;
}
.main-innov .spc-card .spc-text{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: var(--text-color);
}
.innov-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 32px;
    max-width: 100%;
    margin: 0 auto;
}
.innov-cards .innov-card{
    max-width: 100%;
}
.innov-cards .innov-card .card{
    padding: 24px;
    border: 1px solid var(--secondary-color);
    border-radius: 12px;
    background-color: var(--cards-background);
    max-width: 100%;
}
.innov-cards .innov-card .card .innov-img{
    height: 106px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--card-image-color);
}
.innov-cards .innov-card .card .innov-img img{
    mix-blend-mode:luminosity;
}
.innov-card .card .innov-title{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin: 20px 0 15px;
}
.innov-card .card .innov-text{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: var(--text-color);
        margin-bottom: 20px;
}
.innov-card .card a{
    text-decoration: none;
    color: var(--secondary-color);
    margin-right: 10px;
}
@media (max-width:1200px) {
    .main-innov {
        grid-template-columns: minmax(290px , 1fr);
    }
}
/* end innovators */
/* start values */
.our-values{
    padding: 70px 0;
}
.our-values .values-title{
    font-size: 42px;
    font-weight: 600;
    line-height: 50.83px;
    letter-spacing: -0.02em;
    text-align: center;
    margin-bottom: 30px;
}
.our-values .values-text{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: var(--text-color);
    margin-bottom: 30px;
}
.our-values .values{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 32px;
}
.our-values .values .value{
    padding: 32px;
    border: 1px solid var(--secondary-color);
    border-radius: 12px;
    background-color: var(--cards-background);
}
.values .value img{
    width: 70px;
    height: 70px;
}
.values .value .v-title{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    margin: 15px 0 20px;
}
.values .value .v-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: var(--text-color);
}
/* end values */
/* start comments */
.comments{
    padding:70px 0px;
}
.comments .comment-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.comment-main .first{
    max-width: 400px;
}
.comment-main .first span{
    font-family: "Archivo", sans-serif;
    font-size: 230px;
    display: block;
    font-weight: 500;
    height: 115px;
    color: var(--secondary-color);
}
.comment-main .first .f-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    color: #1C1C1C;
    margin-bottom: 20px;
}
.comment-main .first .f-text{
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: #1C1C1C;
}
.comment-main .second{
    max-width: 685px;
}
.comment-main .second .main-sec {
    background-color: var(--cards-background);
    padding: 40px;
    border-radius: 24px;
}
.comment-main .second .main-sec .start{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.comment-main .second .main-sec .start .s-title{
    color: var(--secondary-color);
    margin-bottom: 60px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.16px;
}
.comment-main .second .main-sec .start .circls{
    display: flex;
    gap:10px;
}
.comment-main .second .main-sec .start .circls span{
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #D9D9D9;
}
.comment-main .second .main-sec .start .circls .active-c{
    background-color: #6B6B6B;;
}
.comment-main .second .main-sec .cont{
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 100px;
}
.comment-main .second .main-sec .end .thecomment{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.comment-main .second .main-sec .end .thecomment img{
    width: 60px;
    height: 60px;
}
.comment-main .second .main-sec .end .thecomment .name{
    font-size: 16px;
    font-weight: 700;
    line-height: 19.36px;
    margin-bottom: 10px;
}
.comment-main .second .main-sec .end .thecomment .text{
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
}
.comment-main .second .main-sec .end .arrow div{
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: 1px solid #1C1C1C;
    position: relative;
}
.comment-main .second .main-sec .end .arrow{
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}
.comment-main .second .main-sec .end .arrow .left::after{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    transform: rotate(135deg);
    border-radius: 2px;
    right:10px;
    top:15px;
}
.comment-main .second .main-sec .end .arrow .right::after{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    transform: rotate(-45deg);
    border-radius: 2px;
    left:10px;
    top:15px;
}
.comment-main .second .main-sec .end{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}
@media (max-width:425px) {
    .comment-main .second .main-sec .cont {
        font-size: 16px;
    }
}
/* end comments */
/* start footer */
footer{
    background-color: var(--footer-background);
    padding: 80px 0;
}
footer .footer-start{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}
.footer-start .st1,.st2{
    margin-bottom: 30px;
}
.footer-start .st1 img{
    mix-blend-mode: luminosity;
    margin-bottom: 30px;
}
.footer-start .st1 ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.footer-start .st1 ul li a{
    text-decoration: none;
    color:#FFFFFF;;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.30000001192092896px;
}
.footer-start .st2 p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.30000001192092896px;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.footer-start .st2 .sub{
    border: 1px solid #B3BDC7;
    border-radius: 38px;
    background-color: #FFFFFF17;
}
.footer-start .st2 input{
    width: 259px;
    height: 48px;
    padding-left: 20px;
    border-radius: 38px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.30000001192092896px;
    color: #92989F;
}
.footer-start .st2 button{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.30000001192092896px;
    text-align: center;
    color: #FFFFFF;
    padding: 13px 34px;
    background-color: var(--special-color);
    border: none;
    border-radius: 38px;
}
footer .h-line{
    display: block;
    width: 100%;
    height: 2px;
    background-color: #71777D;
    margin: 52px 0;
}
.footer-end{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: #71777D;
}
.footer-end .end-list{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.footer-end ul li{
    position: relative;
}
.footer-end ul li a{
    color: #71777D;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.2571428716182709px;
}
.footer-end ul li::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #71777D;
    right: -20px;
}
.footer-end .end2 p{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.2571428716182709px;
    margin-top: 30px;
}
@media (max-width: 432px) {
    .footer-start .st2 .sub{
    border: none;
    background-color: transparent;
    }
    .footer-start .st2 .sub input{
    background-color: #FFFFFF17;
    border: 1px solid #B3BDC7;
    border-radius: 38px;
    margin-bottom: 15px;
    }
}

/* end footer */